<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGBT</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Righteous&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: inherit !important;
        }
        body {
            font-family: 'Righteous', serif !important;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div>
        <header class="bg-gray-100 p-4 font-righteous text-lg" style=" font-family: Righteous, serif; font-weight: 400;font-style: normal;"">
            <div class="flex justify-between items-center ml-32">
                <div class="flex space-x-2" href="/">
                    <h1 class="text-3xl font-bold font-righteous text-lg"><a href="/">BGBT</a>  </h1>
                    <svg class="h-8 w-8 text-gray-900"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                      </svg>
                </div>
                
                <!-- <div class="flex items-center space-x-2">
                    <input type="text" id="searchInput" placeholder="Cargo" class="p-2 border border-gray-300 rounded-md">
                    <button id="searchButton" class="px-4 py-2 bg-black text-white rounded-md hover:bg-white hover:text-black border border-black">Search</button>
                  
                </div> -->
                <div class="flex space-x-5" style="margin-bottom: 10px;">
                    <button id="sellButton" class="px-4 py-2 bg-black text-white rounded-md hover:bg-white hover:text-black border border-black"><a href="/resell">RESELL</a></button>
                    <button id="blogButton" class="px-4 py-2 bg-black text-white rounded-md hover:bg-white hover:text-black border border-black"><a href="/blog">BLOG</a></button>
                    <button id="cartButton" class="text-2xl ">
                        <a href="/cart">
                            <svg class="h-8 w-8 text-gray-900"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" />  <circle cx="17" cy="19" r="2" />  <path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" /></svg>
                        </a>
                    </button>

                      
                        
                    <button id="profileButton" class="text-2xl">
                        <a href="/login">
                            <svg class="h-8 w-8 text-black-900"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  <circle cx="12" cy="7" r="4" /></svg>
                        </a>
                    </button>
                </div>
            </div>
            <nav class="flex justify-center bg-black text-white p-2 space-x-6 rounded-md">
                <a href="/designer" class="hover:bg-gray-700  px-4 py-2 rounded-md">Designer</a>
                <a href="/mens" class="hover:bg-gray-700 px-4 py-2 rounded-md">Menswear</a>
                <a href="/womens" class="hover:bg-gray-700 px-4 py-2 rounded-md">Womenswear</a>
            </nav>
        
        </header>
    </div>
</body>
</html>